extends layout

block content
    .container.flat-box.width-card
        h1 Dashboard
        p Welcome to your dashboard! This view shows all the good stuff.
        p Hi, #{user.username}.
        a(href="/logout") Log out of Fresh & Local.
