extends layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/landing-page.css')

block content
    div.image-container
        div.diagonal
    h1 Hi there!
    p Lorem ipsum dolor sit amet, eu munere aliquando has. Et iisque alienum vel, lucilius sadipscing intellegebat ne cum. Ei minim dolorem quo, nec ex sint dicunt legendos. Qui at errem convenire, ex iusto iracundia vel. No vel illud modus dolores.

    p dolore tractatos sea. Pro ad latine facilisis patrioque, in sea erat nemore appellantur, aeque delenit est an. Qui simul probatus ex, vix ei vidit scripserit sadipscing, nec vide duis corrumpit no. Cu sed mazim choro detracto. Porro soleat pro in, his habemus nostrum at, in dicunt saperet senserit pro.
