extends dashboard-base

block dashboard-content
    .container.flat-box.width-80
        h1 Products
        p <a href="/dashboard/products/add">Add a new product</a>
        hr
        h2 Product List
        h3 Asparagus
        h3 Tomatoes
        h3 Jalapenos
