extends layout

block content
    .container.flat-box.width-card
        h1 Producer Sign-Up
        p Welcome to Fresh & Local! Create an account below to start selling your produce online.
        p <em>Are you a shopper?</em> No need to create an account — go ahead and start checking out local goods!
        br
        form(role='form', action="/register", method="post", style='max-width: 300px;')
            .form-group.width-100
                input.form-control(type='text', name="username", placeholder='Email Address')
            .form-group
                input.form-control(type='password', name="password", placeholder='Password')
            button(type='submit').width-100 Submit
            | &nbsp
        br
